<% @group_results.each do |group, stocks| %>
  <h2><%= group %></h2>
  <table>
    <thead>
    <tr>
      <th>Ma</th>
      <th>Price</th>
      <th>% Change</th>
      <!-- Add other headers as needed -->
    </tr>
    </thead>
    <tbody>
    <% stocks.each do |stock| %>
      <tr>
        <td><%= stock['symbol'] %></td>
        <td><%= stock['closePrice'] %></td>
        <td><%= stock['changePercent'] %></td>
        <!-- Add other columns as needed -->
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
