<div class="container mt-4">
    <div class="table-responsive">
        <table class="table table-striped table-bordered align-middle">
          <thead class="table-dark">
          <tr>
            <th>Symbol</th>
            <th>Close Price (K)</th>
            <th>% Change</th>
            <th>Net vol NN</th>
            <th>Net GD NN (M)</th>
            <!--            <th>% Trans</th>-->
            <th>All vol</th>
            <th>All Matching (M)</th>
            <th>% vol NN</th>
            <th>% Match/All Shares</th>
            <th>% Own NN</th>
            <th>Shares (M)</th>
            <th>Note</th>
          </tr>
          </thead>
          <tbody>
          <% @top_30_results.each do |stock| %>
            <% color = MarketGroupPresenter.row_color(stock['change_percent'].to_f) %>
            <tr>
              <% %w[symbol close_price change_percent net_vol_nn net_gd_nn all_vol all_matching percent_vol_nn percent_match_over_all_shares percent_own_nn all_shares note].each do |field| %>
                <td style="background-color: <%= color %>"><%= stock[field] %></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
    </div>
</div>